header {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
}
body {
    background-color: #F7F7F7;
    color: black;
    margin: 0;
}
header, body {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
} 
.title-text{
    font-size:6vw;
    /* padding-top: -2.5rem; */
    padding-top: -30px;
}
.heart {
    /* max-width: 2rem; */
    max-width: 30px;
}
.project {
    background-color: white;
    width: 70%;
    /* margin-top: -1.5rem*/
    margin-top: -15px; 
    margin: 0 auto;
    align-items: center;
    border-radius: 0.5%;
}
.schedule-bullet{
    display: flex;
    flex-wrap: wrap;
    /* font-size: 2rem; */
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
    font-family: 'Work Sans', sans-serif;
    justify-content: center;
    align-content: space-between;
}
.schedule-timetable-wrapper{
    flex-wrap: nowrap;
    /* font-size: 2rem; */
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
}
.schedule-timetable{
    /* margin-top: 1.5rem; */
    margin-top: 1.5px;
}
.schedule-description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* font-size: 2rem; */
    font-size: 30px;
    font-weight: 100;
    font-style: normal;
    font-family: 'Work Sans', sans-serif;
    color: black;

}
.name-place {
    display: flex;
    flex-wrap: nowrap;
}
.add-info-wrapper, .add-info-wrapper1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}
.website {
    max-width: 30px;
    height: 30px;
    /* margin-top: 1rem; */
    margin-top: 10px;
    filter:opacity(0.3)
}
.map{
    max-width: 50px;
    height: auto;
    margin-top: 7px;
    filter:opacity(0.3)
}
a :hover {
    filter:opacity(1); 

}
.information-block {
    display: flex;
    flex-wrap: nowrap;
    font-size: 1rem;
}
.information-description {
    display: flex;
    flex-wrap:wrap;
}
.photo {
    flex: 100%;
    flex-direction: column;
    /* margin: 0 40px; */
}
.photo-cafe {
    border-radius: 5%;
   width: 100%;
    /* min-width: 295px; */
    justify-content: center;
}
.photo-kalian {
    border-radius: 5%;
    width: 100%;
    /* min-width: 295px; */
    justify-content: center;
}
.photo-karaoke{
    border-radius: 5%;
    width: 100%;
    /* min-width: 295px; */
    justify-content: center;
}
.photo-defaqto{
    border-radius: 5%;
    width: 100%;
    /* min-width: 295px; */
    justify-content: center;
}
.icon-container {
    margin: 0px -35px;
    display: flex;
    flex-wrap: wrap;
}
.icon {
    background-color: none;
}
.price-tag {
    width: 20%;
}
.price-tag1 {
    width: 100%;
}
.price-tag2 {
    width: 65%;
}
.variety, .variety1 {
    width: 28%;
}
/* .description-container {
    margin-right: 20px;
    width: 21rem;
} */
.line-description-container {
    flex-wrap: nowrap;
    display: flex;
}
.website1 .website1text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 0;
}
.website1 .website2text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 0;
}
.map1 .map1text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 3;
}
.website1:hover .website1text {
    visibility: visible;
}
.website1:hover .website2text {
    visibility: visible;
}
.map1:hover .map1text {
    visibility: visible;
}
.sub-text2 {
    font-style: normal;
    font-weight: 100;
}
.sub-text3 {
    margin-top: -3%;
}
.information-block1 {
    margin-bottom: 5%;
}
@media screen and (min-width:66px) and (max-width:280px) {
    .photo {   
        flex: 100%;
        max-width: 100%;
        flex-direction: column;
      }
      .project {  
        flex: 100%; 
        width: 100%;
        /* margin: -8px; */
        border-radius: 0;
    }
    .schedule-timetable, .schedule-description {   
        font-size:4vw;
    }
    /* .line-description-container {
        margin-top: 10%;
    } */
    .map {
        max-width: 40px;
        height: auto;
        margin-top: 5px;
        filter: opacity(0.3);
    }
    .website {
        max-width: 30px;
        height: 30px;
        margin-top: 10px;
        filter: opacity(0.3);
    }
    .information-block {
        flex-wrap: wrap;
    }
    .information-description {
        flex: 100%;
        width: 100%;
    }
    /* .line-description-container {
        margin: 0 2rem;
    } */
    .add-info-wrapper {
        margin-top: 0%;
    }
    .add-info-wrapper1 {
        margin-top: -5%;
    }
    .price-tag {
        position: relative;
        width: 15%;
    }
    .variety {
        position: relative;
        margin-top: 120px;
    }
    .description-container {
        font-size: 1.2vw;
        width:100%;
    }
    .line-description-container {
        width: 100%;
    }
    .main-text {
        margin-top: 3%;
        margin-left: -10%;
    }
    .main-text1 {
        margin-left: -17%;
    }
    .main-text2 {
        margin-top: -1%;
    }
    .sub-text {
        margin-top: -1%;
        margin-left: -8%;
}
    .sub-text1 {
        margin-left: -5%;
        font-style: italic; 
        font-size: 1.5vw;
    }
    .sub-text4 {
        margin-top: 5%;
    }
    .website1 .website2text {
        margin-left: 0px;
        width: 120px;
        padding: 4px 0;
        border-radius: 6px;
    }
  }
@media screen and (min-width:280px) and (max-width:360px) {
    .photo {   
        flex: 100%;
        max-width: 100%;
        flex-direction: column;
      }
      .project {  
        flex: 100%; 
        width: 100%;
        /* margin: -8px; */
        border-radius: 0;
    }
    .schedule-timetable, .schedule-description {   
        font-size:4vw;
    }
    /* .line-description-container {
        margin-top: 10%;
    } */
    .map {
        max-width: 40px;
        height: auto;
        margin-top: 5px;
        filter: opacity(0.3);
    }
    .website {
        max-width: 30px;
        height: 30px;
        margin-top: 10px;
        filter: opacity(0.3);
    }
    .information-block {
        flex-wrap: wrap;
    }
    .information-description {
        flex: 100%;
        width: 100%;
    }
    /* .line-description-container {
        margin: 0 2rem;
    } */
    .add-info-wrapper {
        margin-top: 0%;
    }
    .add-info-wrapper1 {
        margin-top: -5%;
    }
    .price-tag {
        position: relative;
        width: 15%;
    }
    .variety {
        position: relative;
        margin-top: 120px;
    }
    .description-container {
        font-size: 1.2vw;
        width:100%;
    }
    .line-description-container {
        width: 100%;
    }
    .main-text {
        margin-top: 3%;
        margin-left: -10%;
    }
    .main-text1 {
        margin-left: -17%;
    }
    .main-text2 {
        margin-top: -1%;
    }
    .sub-text {
        margin-top: -1%;
        margin-left: -8%;
}
    .sub-text1 {
        margin-left: -5%;
        font-style: italic; 
        font-size: 1.5vw;
    }
    .sub-text4 {
        margin-top: 5%;
    }
    .website1 .website2text {
        margin-left: 0px;
        width: 120px;
        padding: 4px 0;
        border-radius: 6px;
    }
  }
@media screen and (min-width:360px) and (max-width:767px) {
    .photo {   
        flex: 100%;
        max-width: 100%;
        flex-direction: column;
      }
      .project {  
        flex: 100%; 
        width: 100%;
        /* margin: -8px; */
        border-radius: 0;
    }
    .schedule-timetable, .schedule-description {   
        font-size:4vw;
    }
    .map {
        max-width: 50px;
        height: auto;
        margin-top: 6px;
        filter: opacity(0.3);
    }
    .website {
        max-width: 40px;
        height: 40px;
        margin-top: 11px;
        filter: opacity(0.3);
    }
    .add-info-wrapper {
        margin-top: 0%;
    }
    .add-info-wrapper1 {
        margin-top: -5%;
    }
    .information-block {
        flex-wrap: wrap;
    }
    .information-description {
        flex: 100%;
        width: 100%;
    }
    /* .line-description-container {
        margin-top: 10%;
    } */
    .price-tag {
        position: relative;
        width: 15%;
    }
    .variety {
        position: relative;
        margin-top: 120px;
    }
    .line-description-container {
        width: 100%;
    }
    .description-container {
        font-size: 2.2vw;
        width:100%;
    }
    .main-text {
        margin-top: 3%;
        margin-left: -11%;
    }
    .main-text1 {
        margin-left: -17%;
    }
    .main-text2 {
        margin-top: -1%;
    }
    .sub-text {
        margin-top: -1%;
        margin-left: -10%;
    }
    .sub-text1 {
        margin-left: -15%;
        font-style: italic; 
        font-size: 2vw;
        font-weight: normal;
    }
    .sub-text2{
        margin-top: 5%;
    }
    .sub-text4 {
        margin-top: 5%;
    }
    .website1 .website1text {
        margin-left: -150px;
        width: 120px;
        padding: 4px 0;
        border-radius: 6px;
    }
    .map1 .map1text {
        margin-left: -18px;
        width: 120px;
        padding: 3px 0;
        border-radius: 6px;
    }
    .website1 .website2text {
        margin-top: -20px;
        margin-left: -80px;
        width: 120px;
        padding: 4px 0;
        border-radius: 6px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .photo {   
        flex: 100%;
        max-width: 100%;
        flex-direction: column;
      }
    .project{   
        width: 100%;
        /* margin: -8px; */
        border-radius: 0;
    }
    .schedule-timetable, .schedule-description {   
        font-size:4.3vw;
    }
    .map {
        max-width: 65px;
        height: auto;
        margin-top: 3px;
        filter: opacity(0.3);
    }
    .website {
        max-width: 50px;
        height: 50px;
        margin-top: 11px;
        filter: opacity(0.3);
    }
    .add-info-wrapper {
        margin-top: 0%;
    }
    .add-info-wrapper1 {
        margin-top: -5%;
    }
    .price-tag {
        width: 15%;
    }
    /* .line-description-container {
        margin-top: 10%;
    } */
    .line-description-container {
        width: 100%;
    }
    .information-block {
        flex-wrap: wrap;
    }
    .information-description {
        width: 100%;
    }
    .description-container {
        font-size: 2.2vw;
        width:100%;
    }
    .main-text {
        margin-top: 3%;
        margin-left: -11%;
    }
    .main-text2 {
        margin-top: -1%;
    }
    .sub-text {
        margin-top: -1%;
        margin-left: -10%;
    }
    .sub-text1 {
        font-style: italic; 
        font-size: 1.5vw;
        font-weight: normal;
    }
    .sub-text2 {
        margin-top: 4%
    }
    .sub-text4 {
        margin-top: 5%;
    }
    .website1 .website1text {
        margin-left: -135px;
        width: 120px;
        padding: 4px 0;
        border-radius: 6px;
    }
    .map1 .map1text {
         margin-left: -25px;
        width: 120px;
        padding: 4px 0;
        border-radius: 6px;
    }

    .website1 .website2text {
        margin-top: -25px;
        margin-left: -75px;
        width: 120px;
        padding: 4px 0;
        border-radius: 6px;
    }
  }
  @media screen and (min-width: 991px) and (max-width: 1199px) {
    .photo {   
        flex: 100%;
        max-width: 100%;
        flex-direction: column;
        /* margin-left: 5rem; */
      }
    .project{   
        width: 76%;
        /* margin: -8px; */
        border-radius: 0;
    }
    .schedule-timetable, .schedule-description {   
        font-size:40px;
    }
    .map {
        max-width: 50px;
        height: auto;
        margin-top: 6px;
        filter: opacity(0.3);
    }
    .website {
        max-width: 40px;
        height: 40px;
        margin-top: 11px;
        filter: opacity(0.3);
    }
    .add-info-wrapper {
        margin-top: -5%;
    }
    .add-info-wrapper1 {
        margin-top: -5%;
    }
    .line-description-container {
        margin-top: 10%;
        width: 100%;
    }
    .information-description {
        width: 100%;
    }
    .description-container {
        font-size: 1.2vw;
        width:100%;
        margin: 0 5%;
    }
    .main-text {
        margin-top: 3%;
        margin-left: -11%;
    }
    .main-text2 {
        margin-top: -1%;
    }
    .sub-text {
        margin-top: -1%;
        margin-left: -8%;
    }
    .sub-text1 {
        font-style: italic; 
        font-size: 1vw;
        font-weight: normal;
    }
    .sub-text2 {
        font-size: 1vw;
        margin-top: 10%;
    }
    .sub-text4 {
        margin-top: 5%;
    }
    .price-tag2{
        margin-top: 27%;
    }
    .website1 .website1text {
        margin-left: -130px; 
        width: 120px;
        padding: 4px 0;
        border-radius: 6px;
    }
    .map1 .map1text {
         margin-left: -20px;
        width: 120px;
        padding: 4px 0;
        border-radius: 6px;
    }
    .website1 .website2text {
        margin-top: -25px;
        margin-left: -75px;
        width: 120px;
        padding: 4px 0;
        border-radius: 6px;
    }
  }
  @media screen and (min-width: 1200px) {
    .photo {   
        flex: 100%;
        flex-direction: column;
        /* margin-left: 5rem; */
      }
      .project{   
        width: 76%;
        /* margin: -8px; */
        border-radius: 0;
    }
    .schedule-timetable, .schedule-description {   
        font-size:45px;
    }
    .title-text {
        font-size: 70px
    }
    .map {
        max-width: 70px;
        height: auto;
        margin-top: 0px;
        filter: opacity(0.3);
    }
    .website {
        max-width: 50px;
        height: 50px;
        margin-top: 11px;
        filter: opacity(0.3);
    }
    .add-info-wrapper1 {
        margin-top: -5%;
    }
    .line-description-container {
        margin-top: 10%;
        width: 100%;
    }
    .information-description {
        width: 100%;
    }
    .description-container {
        font-size: 1.2vw;
        width:100%;
        margin: 0 5%;
    }
    .main-text {
        margin-top: 3%;
        margin-left: -11%;
    }
    .main-text2 {
        margin-top: -1%;
    }
    .sub-text {
        margin-top: -1%;
        margin-left: -7%;
    }
    .sub-text1 {
        font-size: 1vw;
        font-style: italic;
        font-weight: normal;
    }
    .sub-text2 {
        margin-top: 1%;
        font-size: 1vw;
        margin-top: 10%
    }
    .sub-text4 {
        margin-top: 5%;
    }
    .price-tag2{
        margin-top: 30%;
    }
    .website1 .website1text {
        margin-left: -160px;
    }
    .website1 .website2text {
        margin-left: -80px;
        width: 120px;
        padding: 4px 0;
        border-radius: 6px;
        margin-top: -35px;
    }
    .map1 .map1text {
        margin-left: -25px;
    }
  }